* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$background-color: #292524;
$color-white: #fafaf9;
$link-color: #a8a29e;

$fact-bg-color: #44403c;

$color-technology: #3b82f6;
$color-science: #16a34a;
$color-finance: #ef4444;
$color-society: #eab308;
$color-entertainement: #db2777;
$color-health: #14b8a6;
$color-history: #f97316;
$color-news: #8b5cf6;

body {
    // background-color: teal;
}