body {
    background-color: $background-color;
}

.fact-form {
    background-color: $fact-bg-color;
}

h1{
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Coiny", sans-serif;
    color: $color-white;
}

.fact {
    font-size: 20px;
    line-height: 1.4;
    font-family: "Sono", sans-serif;
    background-color: $fact-bg-color;
    color: $color-white;
}

.tag {
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Coiny",sans-serif;
    color: $color-white;
}

ul {
    list-style: none;
}