.fact-form {
    background-color: $fact-bg-color;
    margin-bottom: 40px;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 16px;

    & span {
        font-weight: 600;
        font-size: 18px;
        margin-right: 18px;
    }

        & input:first-child {
        flex-grow: 1;
    }

    & input, & select {
        width: 220px;
        background-color: $vote-button-color;
        border: none;
        border-radius: 100px;
        padding: 16px;
        font-size: 18px;
        color: inherit;
        font-family: inherit;
    }

    & input::placeholder {
        color: $link-color;
    }
}